<!doctype html>
<html>
	<head>
<!-- Link to CSS -->
	<link href='css/styles.css' rel='stylesheet' type='text/css' />
			<script type='text/javascript'
		src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js'>
	</script>
	 <title>Scheduler</title>
	</head>
</html>