<!doctype html>
<html>
	<head>
		
		<script
		type='text/javascript'
		src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js'>
	</script>
	 <title>Scheduler</title>
	</head>
	<h1>
		Choose Person
	</h1>
	<body>
		<div id="listPeople">
			<button id="listPeople" type="button">List All People</button>
		</div>
		

		<button id="requestSchedule" type="button">Request Schedule</button>
<!-- 		<div id = "output"></div>
 -->		<br><br>

		<!-- <div id = "output2">
			<form id="f3">
				<p id="inputArea2"><b>Brigade</b></p>
				<label for="name3">Name</label>
				<input id="name3" type="text" >
				<label for="place3">Place</label>
				<input id="place3" type="text" >
				<label for="pConn">Program Connection</label>
				<input id="pConn" type="text" >
				<button type="button">Update Brigade</button>
				<input id = "deletebrigade" type="submit" value = "Delete Brigade"/>
			</form>
		</div> -->

	</body>
	<script type='text/javascript' src='javascripts/form.js'></script>
</html>